.founders{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.founder{
    /* border: 1px solid black; */
    max-width: 25%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
/* .founders .founder .img{
    background-color: black;
} */
/* img{
    width: 100%;
} */
.founders .founder .social .social_icon{
    margin: 5px;
}